<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="trends">
            <div>
            </div>
            <div class="trend">
                <button id="bloomberg">Bloomberg</button>
                <button id="reuters">Reuters</button>
                <button id="nyt">NYT</button>
                <button id="forbes">Forbes</button>
            </div>
            <script id="clientTemplate" type="text/html">
                <div class="mention ${source}">
                    <div id="mention-sentiment">
                        <span class="glyphicon glyphicon-triangle-${arrow} ${color}"></span><br/>
                        <p>${sentiment.score}</p>
                    </div>
                    <div id="mention-content">
                        <a target="_blank" href="${url}">${title}</a>
                        <p>${time}</p>
                    </div>
                </div>
            </script>
            <div id="mentions">
                <!--<div class="mention bloomberg">-->
                    <!--<div id="mention-sentiment">-->
                        <!--<span class="glyphicon glyphicon-triangle-bottom"></span><br/>-->
                        <!--<p>0.1045</p>-->
                    <!--</div>-->
                    <!--<div id="mention-content">-->
                        <!--<a target="_blank" href="www.google.com">This is a test</a>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <link rel="stylesheet" href="/css/trends.css"/>
            <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
            <script src="/js/trends.js"></script>
        </div>
    </body>
</html>
