#good {
    display: inline;
    font-size: 48px;
    color: green;
}

#bad {
    display: inline-block;
    font-size: 48px;
    color: red;
}


.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

