#good {
    display: inline;
    color: #589f04;
}

#bad {
    display: inline-block;
    color: #ee0000;
}


.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#current {
    font-size: 24px;
}