#good {
    display: inline-block;
    color: #589f04;
}

#bad {
    display: inline-block;
    color: #ee0000;
}


.arc text {
  font: 10px sans-serif;
  text-anchor: top;
}

.arc path {
  stroke: #fff;
}

#current {
    font-size: 20px;
}

.smallText {
    font-size: 20px;
}