.mention {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

.positive {
    background-color: LawnGreen;
}

.negative {
    background-color: Crimson;
}

.hide {
    display: none;
}

#mentions {
    height: 400px;
    overflow: scroll;
}

.trendButton {
    width: 20%;
    height: 25px;
    margin: 2.5%;
}

.mention-sentiment {
    display: inline-block;
    text-align: center;
}

.mention-content {
    display: inline;
    width: 80%;
    float: right;
}

.mention-content a {
    font-size: 12px;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.mention-sentiment .glyphicon {
    font-size: 20px;
}

.mention-content a {
    color: #0d62a5;
}

.active {
        background-color:#073459;
    color: #e5f2f8;
    font-weight:bold;
}
.btn:hover {
    background-color:#66b4d7;
    color: #e5f2f8;
}
.btn:focus {
    background-color:#073459;
    color:#e5f2f8;
}