.mention {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

.positive {
    background-color: LawnGreen;
}

.negative {
    background-color: Crimson;
}

.hide {
    display: none;
}

#mentions {
    height: 400px;
    overflow: scroll;
}

.trend button {
    width: 24%;
    height: 25px;
}

.mention-sentiment {
    display: inline-block;
    text-align: center;
}

.mention-content {
    display: inline;
    width: 80%;
    float: right;
}

.mention-content a {
    font-size: 12px;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.mention-sentiment .glyphicon {
    font-size: 20px;
}

.mention-content a {
    color: #0d62a5;
}

.onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 16px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 0px;
    background: #B3B3B3;
    position: absolute; top: 0; bottom: 0;
    right: 55px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}