.tweets {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    min-height: 30%;
}
.tweetedAbout{
    height: 300px;
    overflow: scroll;
}
.text {
    display: inline;
    width:80%;
    float:right;
}
.tweetText{
    margin-top:2.2%;
    font-size:14px;
    color: #0d62a5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.picture {
    display: inline-block;
    text-align: center;
    margin:2%;
    width:15%;
}
.image{
    height:75%;
    width:75%;
}